/* ****************** Style pour les pages ACCUEIL, A-PROPOS et ERREUR ********************** */

@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  margin-top: 76px;
  font-family: $font-family-base;
  background-color: $primaryB-color;

  @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-left: 20px;
    margin-right: 20px;
  }
}


/* image d'accueil */
.welcome {

  &__container {
    position: relative;
    width: 100%;
  }

  &__picture {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(0.5);
  }

  &__banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primaryT-color;
    font-size: 72px;
    text-align: center;
    width: 80%;
    padding: 0px 20px;
    z-index: 1;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  }
}


/* ****************** blocs page d'accueil ********************** */

.block {
  margin: 0px 100px 50px 100px;
  text-align: center;
  background-color: $secondaryB-color;
  padding: 76px 30px 30px 30px;

  &__title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 500;
    color: $secondaryT-color;
  }

  &__line {
    width: 55px;
    height: 1px;
    margin: 30px auto;
    background: $secondaryT-color;
  }

  &__text {   /* ******************************************************* A VERIFIER ************ */
    font-family: $font-family-base;
    color: $secondaryT-color;
    font-size: 16px;
  }
}

/* ****************** style pour services ************************ */
.services {


}

/* ****************** style pour contact ************************ */
.formContact {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  border: none;

    &__field {
      margin-bottom: 15px;
      width: 100%;
      padding: 10px;
      //overflow: hidden;
      border: 1px solid $secondaryB-color;
      border-radius: 4px;
      font-family: $font-family-base;
      font-size: 14px;
      
    &--submit {
      background-color: $blockB-color;
      color:$blockT-color;
      font-family: $font-family-base;
    }
  }


}

/* ****************** Style pour la gallerie de la page ACCUEIL ********************** */

.gallery {
  //height: 830px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //overflow-y:auto;
  gap: 50px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  background-color: $secondaryB-color;

  @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;
    margin-top: 30px;
  }
    
  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 0px;
    margin-top: 15px;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;

    &--cover {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      z-index: 0;
    }

    &--overlay {
      position: absolute;
      border-radius: 10px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 1; 
    }

    &--title {
      position: relative;
      color: $blockT-color;
      font-size: 18px;
      font-weight: 700;
      margin: 20px;
      text-align: left;
      z-index: 2;
    }
  }
}

/* ****************** Style pour la page A-PROPOS ********************** */

.valeurs {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 40px 120px 40px 120px;
    gap: 30px;
  
    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
      margin: 30px 60px 30px 60px;
      gap: 30px;
    }
  
    @media (max-width: $breakpoint-mobile) {
      margin: 25px 0 25px 0;
      gap: 25px;
    }
  }

  /* ****************** Style pour la page ERREUR ********************** */

.errorMain {
  align-items: center;
  color: $primaryT-color;
  margin: 50px;
  gap: 90px;

  @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
    gap: 70px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    gap: 50px ;
  }

  &__H1 {
    font-size: 288px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;

    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
      font-size: 192px;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 96px ;
    }
  }

  &__H2 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;

    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 18px ;
    }
  }

  &__Link {
    font-size: 18px;
    font-weight: 500;
    color: $secondaryT-color;
    text-decoration: underline;
    margin-bottom: 50px;

    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 14px ;
    }
  }
}
